<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="piramide.multimodal.downloader.client"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ApplicationDownloaderActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.PiramidePreferenceActivity">
        </activity>

        <activity android:name=".activities.ApplicationsActivity">
        </activity>

        <activity android:name=".activities.DownloadActivity">
        </activity>

        <activity android:name=".activities.VersionsActivity">
        </activity>

    </application>

	<supports-screens android:largeScreens="true"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 